.container1{
    nav{
        @media (width<400px) {
            flex-direction: column;
        }
    }
    #box{
        @media (width<900px) {
            flex-direction: column;
        }
        .imgs2{
            max-width: 850px;
            @media (width <700px) {
                display: none;
            }
        }
        .hone{color: #EC5711;}
        .hone1{font-size: 60px;}
    }
    .imgs{
    width: 50px;
    }

}
.main-container{
    max-width: 1300px;
    margin: auto;
}
.main-container2{
    max-width: 1470px;
}

.container{
    #main{
        @media (width <1000px) {
            flex-direction: column;
            #card{margin-top: 20px;}
        }
        #card{
            @media (width <400px) {
                flex-direction: column;
                div{margin-top: 20px;}
            }
        }
    }
    #h3{font-weight: normal;}
    #a{color: #FFC307;font-size: 20px;}
    #img{width: 90px;}
}